*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 30%;
    margin: auto;

}
.icon{
    font-size: 40px;
    display: flex;
    margin-bottom: 30px;
   justify-content: center;
}
.information-container{
    font-size: 20px;
    font-weight:bold ;
}
.introduction{
   padding: 30px 50px;
   text-align: center;
}
.content-container{
    
}
#content-email{
    width: 100%;
    padding: 10px ;
    margin-top: 8px;
    margin-bottom: 4px;
}
#content-password{
    width: 100%;
    padding: 10px ;
    margin-top: 8px;
    margin-bottom: 4px;
}
#content-name{
    width: 100%;
    padding: 10px ;
    margin-top: 8px;
    margin-bottom: 4px;

}
.password{
    margin-top: 10px;
}
.name{
    margin-top: 10px;
}
.birthday{
    margin-top: 20px;
}
.your-birthday{
    margin-bottom: 8px;
}
.container-time{
    display: flex;
    justify-content: space-between;
    
    margin: 4px 0;
}
.container-date{
    width: 10%;
}
.date{
    width: 100%;
   
}
.container-month{
    width: 30%;
  
}

.month{
    width: 100%;
    padding: 15px;
}
.container-year{
    width: 20%;
}
.year{
    width: 100%;
    padding: 15px;
}
.birthday-enter{
margin-top: 8px;
    padding: 10px 10px;
}
.text-header{
    font-weight: bold !important
}
.birthday{
    margin-bottom: 16px;
}
.sign-up{
    background-color: rgb(7, 206, 7);
    border-radius:25px ;
    padding: 18px 50px;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
.button{
    display: flex;
    justify-content: center;
   
}
.gender{
    display: flex;

    justify-content:space-evenly;
    margin: 24px 0;
}
.signup-container{
    margin-top: 44px;
    display: flex;
    justify-content: center;
}
a{
color: rgb(110, 195, 110);
}
.content-name{width: 100%;
    padding: 10px ;
    margin-top: 8px;
    margin-bottom: 4px;}    